<%%= form_for @<%= singular_table_name %> do |f| %>
  <%%= render :partial => 'form', :object => f %>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
<%% end %>
