<%= form_for @ticketing_ticket do |f| %>
  <%= render :partial => 'form', :object => f %>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
<% end %>
